header {
    margin-bottom: 25px;
}

.title {
    margin-bottom: 25px;
}

.author {
    margin-bottom: 25px;
    font-size: 12px;
}

.split {
    width: 200px;
    height: 1px;
    background-color: black;
}