.post {
    display: flex;
    gap: 25px;
    font-size: 12px;
    margin-bottom: 15px;
}

.link {
    cursor: pointer;
}

.return {
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}

.date {
    font-size: 12px;
}


// views

.noteTitle {
    font-size: 12px;
    text-decoration: underline;
}

.noteImage {
    width: 75%;
    margin: 15px 0px;
}

.codeTitle {
    font-size: 12px;
    text-decoration: underline;
}

.codeLog {
    font-size: 12px;
    margin-top: 15px;
}

.commitMade {
    font-size: 12px;
    margin-top: 15px;
}