#todoListBody { 
    background-color: #28282B;
}

.todoListContainer {
    margin: 0 auto;

    max-width: 400px;
}

.newTodoBox {
    margin: 150px auto 50px auto;
    padding: 5px 15px;
    background-color: white;
}

.todoListContainer h4 {
    margin-bottom: 5px;
}

.inputaddBox {
    display: flex;
    justify-content: space-between;
}

.todoListContainer input {
    width: 300px;
}

.todoListContainer button {
    padding: 5px 15px;
}

.todos {
    max-width: 400px;
}

.box {
    background-color: white;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}